<!--
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
/>
<footer class="footer">
  <div class="container">
    <div class="footer-col">
      <h3 class="social">social network</h3>
      <div class="social-links">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-telegram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="row">
      <div class="footer-col">
        <h4>company</h4>
        <ul>
          <li><a href="#">about </a></li>
          <li><a href="#">pharmacies </a></li>
          <li><a href="#">partner</a></li>
          <li><a href="#">jobs</a></li>
          <li><a href="#">contact</a></li>
          <li><a href="#">cooperation</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>help</h4>
        <ul>
          <li><a href="#">personal account </a></li>
          <li><a href="#">payment and delivery </a></li>
          <li><a href="#">question and answer</a></li>
          <li><a href="#">how to reserve an item?</a></li>
          <li><a href="#">reminder for the consumer</a></li>
          <li><a href="#">privacy policy</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>promotion and sales</h4>
        <ul>
          <li><a href="#">promotion </a></li>
          <li><a href="#">gift certificates </a></li>
          <li><a href="#">loyalty program</a></li>
          <li><a href="#">installment cards</a></li>
          <li><a href="#">partner discounts</a></li>
          <li><a href="#">cashback</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>press center</h4>
        <ul>
          <li><a href="#">news </a></li>
          <li><a href="#">article </a></li>
          <li><a href="#">blog</a></li>
          <li><a href="#">review</a></li>
        </ul>
      </div>
      <div class="new">&copy;2023 <span>Ph.Com</span></div>
    </div>
  </div>
</footer>
-->
