* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  width: 100%;
  padding: 10px;
  background-color: #dbdbdb;
}
.all-links {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  margin-left: 10%;
}
.all-links .fa-angle-down {
  opacity: 0;
}
input {
  display: none;
}
.list {
  width: 25%;
  padding: 12px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.list ul {
  list-style: none;
  margin-top: 14px;
}
.list ul li {
  margin-top: 7px;
}
.link a {
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 7px;
  color: #707070;
  transition: all 0.5s ease;
}
.list a:hover {
  color: #333;
  padding-left: 7px;
}

.social {
  text-align: center;
  margin-top: 10px;
}
.social .title {
  color: #5d5c5c;
}

.social a {
  text-align: center;
  font-size: 24px;
  margin: 0 8px;
  transition: all 0.5s ease;
}
.social a .fa-facebook-f:hover {
  color: #4267b2;
}
.social a .fa-youtube-play:hover {
  color: #ff0000;
}
.social a .fa-telegram:hover {
  color: #1d2bf2;
}
.social a .fa-instagram:hover {
  color: #e1306c;
}
.copyrights {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 800px) {
  .all-links {
    flex-direction: column;
  }
  .all-links .title {
    width: 100%;
    border-bottom: #c3c2c2 solid 1px;
    padding: 10px;
  }
  .all-links .fa-angle-down {
    opacity: 1;
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    float: right;

    transition: all 0.5s ease;
  }
  .all-links .fa-angle-down:hover {
    box-shadow: 0 0 15px 5px #dbdbdb;
    border-radius: 3%;
  }
  .list {
    width: 100%;
  }
  .list ul {
    min-height: 80px;
    padding: 10px;
    display: none;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  hr {
    display: none;
  }
}
